body {
   
}

.pageBorder1 {
    border-right-style: solid;
    border-left-style: solid;
    border-right-width: 2px;
    border-left-width: 2px;
    margin-left: 22%;
    margin-right: 22%;
    border-color: #d2026b;
}
.pageBorder2 {
    border-right-style: solid;
    border-left-style: solid;
    border-right-width: 2px;
    border-left-width: 2px;
    margin-left: .5%;
    margin-right: .5%;
    border-color: #d2026b;
}

.titleText{
    color: #2ff5c2;
    font-family: Dancing Script, Arial;
    font-size: 50px;
    text-align: center;
    margin-top: -40px;
} 

.subTitleText{
    color: #d2026b;
    font-family: Andada Pro, Arial;
    font-size: 28px;
    text-align: center;
    margin-top: -50px;
} 

.centerItem {
    display: block;
    margin-right: auto;
    margin-left: auto;
}


.mainImgs {
    display: inline-block;
    border-radius: 0%;
    width: 25vw;
    height: auto;
    margin-top: 20px;
    
}

#mainImg1 {
    float: left;
    margin-left: 5%;
}


.recipeListMain {
    margin-top: 14px;
    text-align: center;
    color: #2ff5c2;
    font-family: Andada Pro, Arial;
    font-size: 27px;
    list-style-type: none;
} 

.recipeListItemMain {
    margin: 15px;
}
